{% extends "layout.html" %} {% block body %}
<br />
<form action="{{ url_for('add_holiday') }}" method="post">
  <div class="form-group">
    <label for="">祝日日付</label>
    <input type="date" class="form-control" name="holiday" value="" />
  </div>
  <div class="form-group">
    <label for="">祝日テキスト</label>
    <input type="text" class="form-control" name="holiday_text" value="" />
  </div>
  <br />
  <div class="btn-group">
    <button
      type="submit"
      class="btn btn-primary"
      name="button"
      value="insert_update"
    >
      新規登録・更新
    </button>
  </div>
</form>
<form action="" method="post">
  <div class="btn-group">
    <button type="submit" class="btn btn-danger" name="button" value="delete">
      削除
    </button>
  </div>
</form>
<br /><br />
<form action="{{ url_for('list') }}" method="post">
  <div class="btn-group">
    <button type="submit" class="btn btn-secondary">一覧出力</button>
  </div>
</form>
{% endblock %}
