{% extends "layout.html" %} {% block body %}
    <br>
    <table class="table">
        {% if holidaylist %}
            <tr>
                <th style="background-color: cornflowerblue;">祝日</th>
                <th style="background-color: cornflowerblue;">テキスト</th>
            </tr>
     
            {% for holiday in holidaylist %}
            <tr>
                <td class="holi_date">{{ holiday.holi_date }}</td>    
                <td class="holi_text">{{ holiday.holi_text }}</td>    
            </tr>
            {% endfor %}
            {% else %}
            <tr>
                <td>
                    祝日マスタが登録されていません
                </td>
            </tr>
            {% endif %}     
    </table>    

    <form action="{{ url_for('input') }}" method="post">
        <button type="submit" class="btn btn-primary">戻る</button>
    </form>    
    <br>   
    <br>

{% endblock %}